@font-face {
    font-family: 'logofont';
    src: url(../font/Monoton-Regular.ttf) format('truetype');
}




body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

//
.modal-backdrop {
    position: inherit;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}